@font-face {
  font-family: "Anonymous Pro";
  src: url(fonts/AnonymousPro-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: "Anonymous Pro";
  src: url(fonts/AnonymousPro-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: #f1f1f1;
}

.width__container {
  max-width: 1160px;
  margin: auto;
}

.header__main {
  background: #fff;
  padding: 30px 0 16px;
  border-bottom: solid 1px #a1a6b4;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo img {
  width: 256px;
}

.header__nav {
  font-family: "Anonymous Pro", sans-serif;
  font-weight: 700;
  display: flex;
  font-size: 24px;
  gap: 24px;
  list-style-type: none;
}

.header__nav_link a {
  text-decoration: none;
  color: #000;
}

h1 {
  font-family: "Anonymous Pro", sans-serif;
  font-size: 56px;
}

h2 {
  font-family: "Anonymous Pro", sans-serif;
  font-size: 48px;
}

h3 {
  font-family: "Anonymous Pro", sans-serif;
  font-size: 26px;
}

p {
  font-family: "Anonymous Pro", sans-serif;
  font-size: 14px;
}

img {
  width: 370px;
}

.subtitle {
  color: #121723;
  margin: 24px auto;
  font-weight: 700;
}

.sneaker__container {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.sneaker__card {
  color: #121723;
  border-radius: 12px;
  width: 370px;
  box-sizing: border-box;
}

.sneaker__image {
  background-color: #fff;
  border-radius: 12px 12px 0px 0px;
  height: 256px;
}

.sneaker__name {
  background-color: #fff;
  border-radius: 0 0 12px 12px;
  padding: 32px;
}

.sneaker__name h3 {
  font-weight: 700;
  margin-bottom: 10px;
}

.sneaker__name p {
  font-size: 20px;
}

.footer__main {
  background: #121723;
  padding: 32px 0 20px;
  margin-top: 25px;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer_logo img {
  width: 256px;
}

.footer__nav {
  font-family: "Anonymous Pro", sans-serif;
  font-weight: 700;
  display: flex;
  font-size: 24px;
  gap: 24px;
  list-style-type: none;
}

.footer__nav_link a {
  color: #fff;
  text-decoration: none;
}

.footer__devider {
  background: #e6e8ec66;
  height: 1px;
  margin: 32px auto 18px;
}

.footer__copyright {
  color: #a1a6b4;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
}

@media screen and (max-width: 1200px) {
  .width__container {
    max-width: 764px;
  }

  .footer__nav {
    flex-direction: column;
  }
}

@media screen and (max-width: 800px) {
  .width__container {
    max-width: 370px;
  }

  .header__nav {
    display: none;
  }

  .subtitle {
    font-size: 40px;
  }

  .footer__content {
    flex-direction: column;
    gap: 16px;
  }
}
