.sneaker__details {
    background-color: #fff;
    border-radius: 50px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: center;

    margin: 32px 0;
}

.width__container__details {
    max-width: 1044px;
    margin: 0 auto;
}

.sneaker__details img {
    width: 1044px;
    border-radius: 50px 50px 0px 0px;
}

.sneaker__name * {
    margin-bottom: 24px;
    font-weight: 400;
}

.sneaker__title {
    font-size: 48px;
}

.sneaker__text {
    font-size: 36px;
}

.sneaker__detail_container {
    display: flex;
    gap: 32px;
    margin-bottom: 48px;
}

.sneaker__detail_about, .sneaker__detail_description {
    width: 506px;
}

.sneaker__detail_description p {
    margin-bottom: 24px;
    font-family: Anonymous Pro;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 140% */
}

.sneaker__detail_about-header {
    font-size: 30px;
    font-weight: 400;
    padding-bottom: 24px;
    border-bottom: solid 1px #121723;
}

.sneaker__detail_about {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.sneaker__detail_about-item {
    display: flex;
    justify-content: space-between;
    padding-bottom: 24px;
    border-bottom: solid 1px #121723;
}

.sneaker__detail_about p {
    font-size: 20px;
}

@media screen and (max-width: 1200px) {
    .width__container__details {
        max-width: 668px;
    }

    .sneaker__details img {
        max-width: 668px; 
    }
  
}


@media screen and (max-width: 800px) {
    .width__container__details {
        max-width: 295px;
    }

    .sneaker__details img {
        max-width: 295px; 
    }

    .sneaker__title {
        font-size: 32px;
    }
    
    .sneaker__text {
        font-size: 20px;
    }

    .sneaker__detail_container {
        flex-direction: column;
        gap: 8px;
    }

    .sneaker__detail_about, .sneaker__detail_description {
        width: 295px;
    }

    .sneaker__detail_about p {
        font-size: 16px;
    }

    .sneaker__detail_description p {
        font-size: 16px; 
    }

}