
.subtitle {
  color: #121723;
  margin: 24px auto;
  font-weight: 700;
}

.sneaker__detail-link {
  transition: transform .25s ease-in-out;
}

.sneaker__detail-link:where(:hover, :focus){
  transform: translateY(-10px);
}

.sneaker__container {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.sneaker__card {
  color: #121723;
  border-radius: 12px;
  width: 370px;
  box-sizing: border-box;
}

.sneaker__container img {
  width: 370px;
}

.sneaker__container a {
  text-decoration: none;
}

.sneaker__image {
  background-color: #fff;
  border-radius: 12px 12px 0px 0px;
  height: 256px;
}

.sneaker__name {
  background-color: #fff;
  border-radius: 0 0 12px 12px;
  padding: 32px;
}

.sneaker__name h3 {
  font-weight: 700;
  margin-bottom: 10px;
}

.sneaker__name p {
  font-size: 20px;
}

@media screen and (max-width: 800px) {

  .subtitle {
    font-size: 40px;
  }

}
